<form [formGroup]="searchForm" class="col-12 mb-5 mt-5">
  <!-- <script src="searchbar.component.ts"> </script> -->
  <div class="row">
    <div class="col-2">
      <label for="">Mobile No</label>
      <input
        type="text"
        class="form-control shadow-none"
        formControlName="searchKey"
      />
    </div>
        <div class="col-2">
      <label for="">Name</label>
      <input
        type="text"
        class="form-control shadow-none"
        formControlName="searchKey"
      />
    </div>
    <!-- <div class="col-1">
      <label for="">Middle Name</label>
      <input
        type="text"
        class="form-control shadow-none"
        formControlName="searchKey"
      />
    </div>
    <div class="col-1">
      <label for="">Last Name</label>
      <input
        type="text"
        class="form-control shadow-none"
        formControlName="searchKey"
      />
    </div> -->

    <div class="col-2">
      <label for="">Address</label>
      <input
        type="text"
        class="form-control shadow-none"
        formControlName="searchKey"
      />
    </div>
    <div class="col-1">
      <label for="">Locality</label>
      <input
        type="text"
        class="form-control shadow-none"
        formControlName="searchKey"
      />
    </div>
    <div class="col-1">
      <label for="">Taluka</label>
      <input
        type="text"
        class="form-control shadow-none"
        formControlName="searchKey"
      />
    </div>
    <div class="col-1">
      <label for="">Occupation</label>
      <input
        type="text"
        class="form-control shadow-none"
        formControlName="searchKey"
      />
    </div>
    <div class="col-1">
      <label for="">Employer</label>
      <input
        type="text"
        class="form-control shadow-none"
        formControlName="searchKey"
      />
    </div>
    <div class="col-1">
      <label for="">Comments</label>
      <input
        type="text"
        class="form-control shadow-none"
        formControlName="searchKey"
      />
    </div>

    <div class="col-12 mt-5">
      <button class="btn btn-primary shadow-none" (click)="search()">
        Search
      </button>
     
    </div>
  </div>
<!-- </script> -->
</form>
